# C++ and compilation
*.[oa]
*.exe
*dSYM

# ROOT
*.root

# Text editing
*~
*.swp

# Original files used to setup the code
CreateRegressionTMVATree.C
regressionTMVA.C
fitMgg.C
quickPlot.C

# plots & logs
*.pdf
2013*
*.gif
*txt
*log
test*
*.diff
dump*
